{% extends "base.html" %}
{% block content %}

<div class="container" style="height: 1000px;">
    <div class="row" style="margin-bottom: 0;">
        <div class="col s12">
            <h2 class="center-align logo-text">403 - Page not found </h2>
            <h5 class="center-align">Sorry, the page you requested could not be found.</h5>
            <h5 class="center-align black-text logo-text">Go to<a href="{{ url_for('home') }}" class="black-cta red-text logo-text">Home!
                    homepage</a></h5>
            <hr class="blackline">
        </div>
    </div>
</div>

{% endblock %}