@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/*--Home page--*/
/*--NavBar Styling--*/
.logo-text {
    font-family: 'Bangers', cursive;
    margin-left: 20px;
}

/*--Prallax container heightfrom materialize--*/
.parallax {
    height: 300px;
}

.parallax-container {
    height: 65vh;
  }

  .section .container {
      height: 100px;
      margin-top: 100px;
  }


  .horizontal {
      height: 50px;
      width: 50px;
  }
  
  .card-panel {
      border-radius: 10px;
  }

  .card-text {
      font-family: 'Bungee Shade', cursive;
      font-size: 50px;
  }
  /*--card in comics--*/
  
  .card-image.waves-effect.waves-block.waves-light {
     max-width: 10em;
     max-height: 15em;
     margin: auto;
     padding-top: auto;
  }
  
  .card {
      border-radius: 15px;
      height: 400px;
  }
  
  .card .card-content {
      padding: 0;
      max-width: 100%;
      max-height: 100%;
  }

  .card-text {
      font-size: 20px;
  }

  .cd-margin {
      margin: 0;
  }
