@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.card-title {
    font-family: 'Roboto', sans-serif;
}

.card-content {
    width: 200px;
}


/*--Home page--*/
/*--genral styling Styling--*/
.logo-text {
    font-family: 'Permanent Marker', cursive;
    margin-left: 50px;
}

/*--Prallax container heightfrom materialize--*/
.parallax-container {
    height: 300px;
}

.parallax-lower {
    margin-top: 35px;
}

.section .container {
    height: 100px;
    margin-top: 100px;
}


.horizontal {
    height: 50px;
    width: 50px;
}
  
.card-panel {
    border-radius: 10px;
    margin: 10px;
}

.card-text {
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
}
  /*--card in comics--*/
  
div.card-panel.search-cd-size {
    height: 120px;
}

/*--Naoise Gaffney from slack--*/
.card.small .card-image+.card-content,
.card.medium .card-image+.card-content,
.card.large .card-image+.card-content {
    max-height: 60%;
    overflow: visible;
    width: 100%;
}
  
.card {
    border-radius: 15px;
    height: 400px;
}
  
.card-image,
.card-content {
    max-height: 60%;
    width: 100%;
}

.card .card-image img {
    width: 70%;
    margin: auto;
}

.cd-margin {
    margin: 0;
}

/*--Profile Page--*/
.circle {
    height: 40px;
    width: 40px;
}
