{% extends "base.html" %}
{% block content %}
<!--Icon prefix from materialize-->
<h3 class="light-blue-text text-darken-4 center-align">Add to your collection</h3>
<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-blue-text text-darken-4">stars</i>
                <input id="superhero" name="superhero"type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="superhero">Superhero</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="title" name="title" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="title">Comic Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="title" name="title" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="title">Author</label>§
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="title" name="title" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="title">Comic Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="title" name="title" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="title">Comic Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Textarea</label>
            </div>
        </div>
    </form>
</div>
{% endblock %}