{% extends "base.html" %}
{% block content %}
<!--Icon prefix from materialize-->
<h3 class="black-text logo-text center-align" style="margin-top: 0px;margin-bottom: 0px;padding-top: 20px; margin-left: 0px;">Add to the Comic Collection</h3>
<p class="logo-text center-align" style="
    margin-left: 0px;">This is where you can add a comic you have read of have in your possession to the Kapow Comic Collection. As you have signed up whatever comic you add will be added to your profile page.</p>
<!--The form from materialize-->
<div class="row" style="margin-bottom: 0px; padding-bottom: 20px;">
    <form class="card-panel #fffde7 yellow lighten-5 col s12 m6 offset-m3 center-align" method="POST" action="{{ url_for('add_comics') }}">
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix red-text">stars</i>
                <input id="superhero" name="superhero" type="text" minlength="5" maxlength="25" class="validate" required>
                    <span class="helper-text" data-error="5-25 characters"
                        data-success="Woohoo! You got this!">5-25 characters,</span>
                <label for="superhero">Superhero *Required</label>
            </div>
        </div>
        <!--Comic title-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="fas fa-book-open prefix red-text"></i>
                <input id="title" name="title" type="text" minlength="5" maxlength="25" class="validate" required>
                    <span class="helper-text" data-error="5-25 characters" data-success="Woohoo! You got this!">5-25 characters</span>
                <label for="title">Title *Required</label>
            </div>
        </div>
        <!--Author title-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix red-text">turned_in</i>
                <input id="author" name="author" type="text" minlength="5" maxlength="25" class="validate" required>
                <span class="helper-text" data-error="5-25 characters"
                    data-success="Woohoo! You got this!">5-25 characters</span>
                <label for="author">Author *Required</label>
            </div>
        </div>
        <!--publisher title-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix red-text">verified_user</i>
                <input id="publisher" name="publisher" type="text" minlength="5" maxlength="25" class="validate"
                    required>
                    <span class="helper-text" data-error="5-25 characters"
                        data-success="Woohoo! You got this!">5-25 characters</span>
                <label for="publisher">Publisher *Required</label>
            </div>
        </div>
        <!--date released-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="fas fa-calendar-alt prefix red-text"></i>
                <input id="date_released" name="date_released" type="text" class="datepicker validate" required>
                <label for="date_released">Release Date</label>
            </div>
        </div>
        <!-- comments-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix red-text">insert_comment</i>
                <textarea id="comment" name="comment" class="materialize-textarea" minlength="5" maxlength="400"></textarea>
                <span class="helper-text" data-error="5-400 characters" data-success="Woohoo! You got this!">5-400 characters</span>
                <label for="comment">Synopsis</label>
            </div>
        </div>
        <!-- drop down rater-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <select id="grade_star" name="grade_star" class="validate">
                    <option value="" disabled selected>Rate your Comic Stars 1-5</option>
                    {% for grade in grades %}
                    <option value="{{ grade.grade_star }}">{{ grade.grade_star }}</option>
                    {% endfor %}
                </select>
                <span class="helper-text" data-success="Woohoo! Thank you for your Support!"></span>
                <label style="padding-left: 50px;"></label>
            </div>
        </div>
        <!--image file-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="fas fa-mask prefix red-text"></i>
                <!---Regex from W3 schools-->
                <input id="cover_image" name="cover_image" type="url" pattern="https?://.+" class="validate">
                <span class="helper-text" data-error="Must incl. https// link" data-success="Woohoo! You got it!">Must incl.
                https// link</span>
                <label for="cover_image">Add URL link here for cover Image</label>
            </div>
        </div>
        <!--submit button-->
        <div class="row">
            <button class="btn green darken-1 center-align waves-effect waves-light logo-text" type="submit">Add
                Comic
            </button>
        </div>
    </form>
</div>
{% endblock %}