<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  {% block styles %}
  {% endblock %}
  <title>Kapow Comic Collection</title>
</head>

<body>
  <!--Navbar from materialize-->
  <nav class="#e53935 red darken-1">
    <div class="nav-wrapper">
      <a href="{{ url_for('home') }}" class="brand-logo logo-text #fffde7-yellow-text lighten-5-text" style="
    margin-left: 5px;">Kapow!</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('get_comics') }}">Comics</a></li>
        {% if session.user %}
        {% if session.user|lower == "admin"|lower %}
        <li><a href="{{ url_for('get_categories') }}">Category</a></li>
        {% endif %}
        <li><a href="{{ url_for('add_comics') }}">Add Comics</a></li>
        <!--we are setting this to the session so that only be viewed by session logger-->
        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('register') }}">Sign Up!</a></li>
        <li><a href="{{ url_for('login') }}">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!--Side bar from materialize-->
  <ul class="sidenav #e53935 red darken-1" id="mobile-demo">
    <li>
      <h4 class="logo-text">Kapow!</h4>
    </li>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('get_comics') }}">Comics</a></li>
    {% if session.user %}
    {% if session.user|lower == "admin"|lower %}
    <li><a href="{{ url_for('get_categories') }}">Category</a></li>
    {% endif %}
    <li><a href="{{ url_for('add_comics') }}">Add Comics</a></li>
    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
    <!--we are setting this to the session so that only be viewed by session logger-->
    <li><a href="{{ url_for('logout') }}">log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('register') }}">Sign Up!</a></li>
    <li><a href="{{ url_for('login') }}">Sign In</a></li>
    {% endif %}
  </ul>
  <div>
    <!--Flash messages will be displayed-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes #fffde7 yellow lighten-5" style="margin-top: 0; margin-bottom: 0; padding-top: 10px; padding-bottom: 10px;">
      <h5 class="logo-text red-text center-align"><i class="fas fa-exclamation-triangle"></i> Shazaam! {{ message }}</h5>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <span>
    {% block home %}
    {% endblock %}
  </span>
  <main class="#00bcd4 cyan" style="min-height: 100%;">
    {% block content%}
    {% endblock %}
  </main>
  <!--footer from Material Bootstrap-->
  <footer class="bg-danger fixed text-center center-align text-white">
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!--Footer from amterialize with some MBD social icons added-->
  </footer>
  <footer class="page-footer #e53935 red darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text logo-text #fffde7-yellow-text">Kapow!<small class="card-title"> comic collection</small></h5>
          <p class="#fffde7-yellow-text">This is Kapow! Comic Collection. A fun hub for you, the Superhero, to access information on the best comics out
          there.Add the comics you like to your Profile and keep a record of the comics you like that other Superheroes have
          posted.</p>
        </div>
        <div class="col l4 offset-l2 s12">
        </div>
      </div>
    </div>
    <div class="text-center center-align mb-4">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/"
        role="button"><i class="fab fa-facebook-f"></i></a>
      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;;"
        href="https://twitter.com/?lang=en" role="button"><i class="fab fa-twitter"></i></a>
      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;;" href="https://www.instagram.com/"
        role="button"><i class="fab fa-instagram"></i></a>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;;"
        href="https://github.com/dsteyn44/kapow_comics_MS3/blob/main/app.py" role="button"><i
          class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright #e53935 red darken-1">
      <div class="container #fffde7-yellow-text lighten-5">
        © 2021 Kapow! Comic Collections
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>