<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  {% block styles %}
  {% endblock %}
  <title>Kapow Comic Collection</title>
</head>

<body>
  <!--Navbar from materialize-->
  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('home') }}" class="brand-logo logo-text">Kapow</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('get_comics') }}">Comics</a></li>
        <li><a href="{{ url_for('add_comics') }}">Add Comics</a></li>
        {% if session.user %}
          <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li><!--we are setting this to the session so that only be viewed by session logger-->
          <li><a href="{{ url_for('logout') }}">log Out</a></li>
        {% else %}
          <li><a href="{{ url_for('register') }}">Sign Up!</a></li>
          <li><a href="{{ url_for('login') }}">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!--Side bar from materialize-->
  <ul class="sidenav" id="mobile-demo">
    <li>
      <h4 class="logo-text">Kapow</h4>
    </li>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('get_comics') }}">Comics</a></li>
    <li><a href="{{ url_for('add_comics') }}">Add Comics</a></li>
        {% if session.user %}
          <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li><!--we are setting this to the session so that only be viewed by session logger-->
          <li><a href="{{ url_for('logout') }}">log Out</a></li>
        {% else %}
          <li><a href="{{ url_for('register') }}">Sign Up!</a></li>
          <li><a href="{{ url_for('login') }}">Sign In</a></li>
        {% endif %}
  </ul>
  <section>
    <!--Flash messages will be displayed-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
      <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </section>
  <div>
    {% block home %}
    {% endblock %}
  </div>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <!--footer from Material Bootstrap-->
    <footer class="bg-light text-center center-align text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39;"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333;"
            href="#!"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>