{% extends "base.html" %}
{% block content %}

            <h1>Category</h1>

            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('add_categories') }}" class="btn-large light-blue">Add category <i class="fas fa-plus-square right"></i>
                    </a>
                </div>
            </div>

    <div class="grid-example col s12 center-align"><span class="flow-text">
            <p>This is our comic book collection for you see.</p>
        </span>
    </div>
</div>
<div class="row">
    {% for category in categories %}
    <div class="col s12 m3">
        <div class="card light-blue darken-4 text-shadow center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn light-blue lighten-1">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}