{% extends "base.html" %}
<!--This connects to parent base.html-->
{% block content %}
<!--Heading taken from materialize-->
<div class="row">
    <div class="grid-example col s12 center-align logo-text"><span class="flow-text">
            <h1>Our Comic Collection</h1>
        </span></div>
    <div class="grid-example col s12 center-align"><span class="flow-text">
            <p>This is our comic book collection for you see.</p>
        </span></div>
</div>
</div>
<!--search function-->
<div class="row card-panel #ffff00 yellow accent-2 col s8 offset-m2">
    <form method="POST" action="{{ url_for('search') }}" class="col s8 offset-m2">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s8 m8">
                <i class="fa fas-search prefix light-blue-text"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search by Superhero and Title</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_comics') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="btn light-blue text-shadow">Search</button>
                <i class="fa fa-search left"></i>
            </div>
        </div>
    </form>
</div>
<!--Comic section-->
<!--container and card taken from materialize-followed the minitask project-->
<div class="container">
    <div class="row">
        {% for comic in comics %}
        <div class="col s12 m4 center-align">
            <div class="card #ffff00 yellow accent-2">
                <div class="card-image waves-effect waves-block waves-light center-align">
                    {% if not comic.cover_image or comic.cover_image == "" %}
                    <img class="activator " src="/static/images/kapow.png" alt="alternative cover image">
                    {% else %}
                    <img class="activator " src="{{ comic.cover_image }}" alt="cover image">
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <p class="card-text"><strong>{{ comic.superhero }}</strong></p>
                        <p><small>{{ comic.title }}</small></p>
                        <p><small>Rating: {{ comic.grade_star }}</small></p>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-caret-down"></i>
                        {% if session.user|lower != comic.created_by|lower %}<!--editing only to be permitted by user-->
                        <a href="{{ url_for('delete_comic', comic_id=comic._id) }}" class="btn-small #ff1744 red accent-3">Goodbye!</a>
                        <a href="{{ url_for('edit_comic', comic_id=comic._id) }}" class="btn-small #00e676 green accent-3">Edit</a>
                        <a href="{{ url_for('inject_comic', comic_id=comic._id) }}" class="btn-floating btn-small tooltipped red" data-position="bottom" data-tooltip="Add to Profile Page"><i class="material-icons">add</i></a>
                        {% endif %}
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ comic.superhero }}<i
                            class="material-icons right">close</i>
                    </span>
                    <span>
                        <p class="left cd-margin">Author: {{ comic.author }}</p><br>
                        <p class="left cd-margin">Date Released: {{ comic.date_released }}</p><br>
                        <p class="left cd-margin">Publisher: {{ comic.publisher }}</p><br>
                        <p class="left cd-margin">Comment: {{ comic.comment }}</p><br>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}