{% extends "base.html" %}
<!--This connects to parent base.html-->
{% block content %}
<!--Heading taken from materialize-->
<div class="row">
    <div class="grid-example col s12 center-align"><span class="flow-text">
            <h1>Our Comic Collection</h1>
        </span></div>
    <div class="grid-example col s12 center-align"><span class="flow-text">
            <p>This is our comic book collection for you see.</p>
        </span></div>
</div>
</div>
<!--Comic section-->
<!--container and card taken from materialize-followed the minitask project-->
<div class="container">
    <div class="row">
        {% for comic in comics %}
        <div class="col s12 m4 center-align">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light center-align">
                    <img class="activator " src="{{ comic.cover_image }}">
                </div>
                <div class="card-content light-green accent-3 ">
                    <span class="card-title activator grey-text text-darken-4">
                        <p class="card-text"><strong>{{ comic.superhero }}</strong></p>
                        <p><small>{{ comic.title }}</small></p>
                        <p><small>Author: {{ comic.grade_star }}</small></p>
                        <i class="fas fa-info-circle"></i>
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ comic.superhero }}<i
                            class="material-icons right">close</i>
                    </span>
                    <span>
                        <p class="left cd-margin">Author: {{ comic.author }}</p><br>
                        <p class="left cd-margin">Date Released: {{ comic.date_released }}</p><br>
                        <p class="left cd-margin">Publisher: {{ comic.publisher }}</p><br>
                        <p class="left cd-margin">Comment: {{ comic.comment }}</p><br>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}