{% extends "base.html" %}
{% block content %}
<!--Icon prefix from materialize-->
<h3 class="black-text text-darken-4 center-align logo-text" style="margin-top: 0px;margin-bottom: 0px;padding-top: 20px;">Edit The Comics</h3>
<div class="row" style="margin-bottom: 0px;">
    <form class="card-panel col s12 m8 offset-m2 center-align" method="POST" action="{{ url_for('edit_comic', comic_id=comic._id) }}">
        <div class="row" style="padding-top: 10px; margin-bottom: 0px;">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix light-blue-text text-darken-4">stars</i>
                <input value="{{ comic.superhero }}" id="superhero" name="superhero" type="text" minlength="5" maxlength="25" pattern="^[(?=.*[a-z])(?=.*[A-Z]){5-20}]$"  class="validate"
                    required>
                    <span class="helper-text" data-error="5-25 characters, only letters" data-success="Woohoo!">5-20 no characters,
                        only lower class letters</span>
                <label for="superhero">Superhero</label>
            </div>
        </div>
        <!--Comic title-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="fas fa-book-open prefix light-blue-text text-darken-4"></i>
                <input value="{{ comic.title }}" id="title" name="title" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="title">Title</label>
            </div>
        </div>
        <!--Author title-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix light-blue-text text-darken-4">turned_in</i>
                <input value="{{ comic.author }}" id="author" name="author" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="author">Author</label>
            </div>
        </div>
        <!--publisher title-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix light-blue-text text-darken-4">verified_user</i>
                <input value="{{ comic.publisher }}" id="publisher" name="publisher" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="publisher">Publisher</label>
            </div>
        </div>
        <!--date released-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input value="{{ comic.date_released }}" id="date_released" name="date_released" type="text" class="datepicker validate" required>
                <label for="date_released">Release Date</label>
            </div>
        </div>
        <!-- comments-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2 light-blue-text text-darken-4">
                <i class="material-icons prefix">insert_comment</i>
                <textarea id="comment" name="comment" class="materialize-textarea" minlength="5" maxlength="50" required>{{ comic.comment }}</textarea>
                <label for="comment">Comments</label>
            </div>
        </div>
        <!-- drop down rater-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <select id="grade_star" name="grade_star" class="validate">
                    <option value="" disabled select>Pick your rating</option>
                {% for grade in grades %}
                <option value="{{ grade.grade_star }}">{{- grade.grade_star -}}</option>
                {% endfor %}
                </select>
                <i class="material-icons prefix light-blue-text text-darken-4"></i>
                <label>Rate this comic from 1 to 5 stars! - optional</label>
            </div>
        </div>
        <!--image file-->
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix light-blue-text text-darken-4">present_to_all</i>
                <input value="{{ comic.cover_image }}" id="cover_image" name="cover_image" type="text" class="validate">
                <label for="cover_image">Add URL link here for cover Image</label>
            </div>
        </div>
        <!--submit button-->
        <div class="row">
        <!--Cancel button-->
        <a href="{{ url_for('get_comics') }}" class="btn-large red text-shadow">Cancel<i class="fas fa-times-circle right"></i></a>
            <button class="btn-large red darken-1 center-align waves-effect waves-light logo-text" type="submit">Edit Comic
                <i class="fas fa-edit right"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}