{% extends "base.html" %}

{% block content %}
<!--Added card from Materialize-->
<!--update form to div-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username|upper }}'s Profile
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row">
            {% for comics in user_comics %}
            <div class="col s12 m4 center-align">
                <div class="card #ffff00 yellow accent-2">
                    <div class="card-image waves-effect waves-block waves-light center-align">
                        {% if not comics.cover_image or comics.cover_image == "" %}
                        <img class="activator " src="/static/images/kapow.png" alt="alternative cover image">
                        {% else %}
                        <img class="activator " src="{{ comics.cover_image }}" alt="cover image">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <p class="card-text"><strong>{{ comics.superhero }}</strong></p>
                            <p><small>{{ comics.title }}</small></p>
                            <p><small>Rating: {{ comics.grade_star }}</small></p>
                            <i class="fas fa-info-circle"></i>
                            <i class="fas fa-caret-down"></i>
                            <!--editing only to be permitted by user for their added comic-->
                            {% if session.user|lower == comics.created_by|lower %}
                            <a href="{{ url_for('delete_comic', comic_id=comics._id) }}" class="btn-small #ff1744 red accent-3">Goodbye!</a>
                            <a href="{{ url_for('edit_comic', comic_id=comics._id) }}" class="btn-small #00e676 green accent-3">Edit</a>
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ comics.superhero }}<i
                                class="material-icons right">close</i>
                        </span>
                        <span>
                            <div class="left cd-margin">Author: {{ comics.author }}</div><br>
                            <div class="left cd-margin">Date Released: {{ comics.date_released }}</div><br>
                            <div class="left cd-margin">Publisher: {{ comics.publisher }}</div><br>
                            <div class="left cd-margin">Comment: {{ comics.comment }}</div><br>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}