{% extends "base.html" %}

{% block content %}
<!--Added card from Materialize-->
<!--update form to div-->
<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel  #fffde7 yellow lighten-5">
            <h3 class="center-align black-text logo-text" style="margin-left: 0px;">
                {{ username|upper }}'s Profile
            </h3>
            {% for prof in prof_info %}
            <div class="row center">
                <h5 class="title logo-text center">Super hero facts</h5>
                <span class="center-align center">
                    {% if not prof.prof_image or prof.prof_image == null %}
                    <img src="/static/images/kapow.png" alt="profile_pic" class="circle vertical-align">
                    {% else %}
                    <img src="{{ prof.prof_image }}" alt="profile_pic" class="circle vertical-align">
                    {% endif %}
                </span>
            </div>
            <ul class="collection center align" style="border: 0;">
                <li><strong>Super Name:</strong> {{ prof.username }} </li>
                <li><strong>SuperHero you admire Most:</strong>{{ prof.fav_superhero }}</li>
                <li><strong>Your Super Powers:</strong>{{ prof.super_pow }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 logo-text center">
            <h2>Comics you added to the Collection!</h2>
            <p>Go to <a href="{{ url_for('add_comics') }}" class="red-text">Add Comics</a> and add to our comic
                collection. If you are bored with your specific selection - simply click "Goodbye!" </p>
                <p style="font-size: 25px;">If you would like to look at your tagged favorite comics click <a href="profile.html#fav_comics" class="red-text">here</a></p>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            {% for comics in user_comics %}
            <div class="col s12 m4 center-align">
                <div class="card #d500f9 purple accent-3 accent-2 hoverable" style="min-height: 500px;">
                    <div class="card-image waves-effect waves-block waves-light center-align">
                        {% if not comics.cover_image or comics.cover_image == "" %}
                        <img class="activator " src="/static/images/kapow.png" alt="alternative cover image">
                        {% else %}
                        <img class="activator " src="{{ comics.cover_image }}" alt="cover image">
                        {% endif %}
                    </div>
                    <div class="card-content" style="padding-top: 0px;">
                        <div class="card-title activator grey-text text-darken-4">
                            <ul>
                                <li class="card-text">{{ comics.superhero|upper }}</li>
                                <li><small>{{ comics.title }}</small></li>
                                <li><small>Rating: {{ comics.grade_star }}</small></li>
                            </ul>
                            <i class="fas fa-info-circle"></i>
                            <i class="fas fa-caret-down"></i>
                            <!--editing only to be permitted by user for their added comic-->
                            {% if session.user|lower == comics.created_by|lower %}
                            <a href="{{ url_for('delete_comic', comic_id=comics._id) }}"
                                class="btn-small #ff1744 red accent-3 logo-text"
                                style="margin-left: 5px; margin-top: 3px;">Goodbye!</a>
                            <a href="{{ url_for('edit_comic', comic_id=comics._id) }}"
                                class="btn-small #00e676 green accent-3 logo-text"
                                style="margin-left: 5px; margin-top: 3px;">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ comics.superhero }}<i
                                class="material-icons right">close</i>
                        </span>
                        <div>
                            <p class="left cd-margin">Author: {{ comics.author }}</p><br>
                            <p class="left cd-margin">Date Released: {{ comics.date_released }}</p><br>
                            <p class="left cd-margin">Publisher: {{ comics.publisher }}</p><br>
                            <p class="left cd-margin">Synopsis: {{ comics.comment }}</p><br>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!---Tags for Users Favorites -->
            <div class="container">
                <div class="row">
                    <div class="col s12 logo-text center">
                        <h2 id="fav_comics">My Favorite Comics!!</h2>
                        <p>Go to <a href="{{ url_for('get_comics') }}" class="red-text">comics</a> and choose your
                            favorite from the
                            collection. If you are bored with your specific selection - simply click "Goodbye!" </p>
                            <p style="font-size: 25px;">Go back to the top of the page <a
                                    href="{{ url_for('profile', username=session['user']) }}" class="red-text">here</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for fav in favorite %}
                <div class="col s12 m4 center-align">
                    <div class="card hoverable #1de9b6 teal accent-3" style="min-height: 500px;">
                        <div class="card-image waves-effect waves-block waves-light center-align">
                            {% if not fav.cover_image or fav.cover_image == "" %}
                            <img class="activator " src="/static/images/kapow.png" alt="alternative cover image">
                            {% else %}
                            <img class="activator " src="{{ fav.cover_image }}" alt="cover image">
                            {% endif %}
                        </div>
                        <div class="card-content" style="padding-top: 0px;">
                            <div class="card-title activator grey-text text-darken-4">
                                <ul>
                                    <li class="card-text"><strong>{{ fav.superhero }}</strong></li>
                                    <li><small>{{ fav.title }}</small></li>
                                    <li><small>Rating: {{ fav.grade_star }}</small></li>
                                </ul>
                                <i class="fas fa-info-circle"></i>
                                <i class="fas fa-caret-down"></i>
                                <!--editing only to be permitted by user for their added comic-->
                                {% if session.user|lower == fav.created_by|lower %}
                                <a href="{{ url_for('delete_tag', comic_id=fav._id) }}"
                                    class="btn-small #ff1744 red accent-3 logo-text"
                                    style="margin-left: 5px; margin-top: 3px;">Goodbye!</a>
                                <a href="{{ url_for('edit_comic', comic_id=fav._id) }}"
                                    class="btn-small #00e676 green accent-3"
                                    style="margin-left: 5px; margin-top: 3px;">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ fav.superhero }}<i
                                    class="material-icons right">close</i>
                            </span>
                            <div>
                                <p class="left cd-margin">Author: {{ fav.author }}</p><br>
                                <p class="left cd-margin">Date Released: {{ fav.date_released }}</p><br>
                                <p class="left cd-margin">Publisher: {{ fav.publisher }}</p><br>
                                <p class="left cd-margin">Synopsis: {{ fav.comment }}</p><br>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}