{% extends "base.html" %}

{% block content %}

<h3 class="center-align logo-text" style="margin: 0px;">Sign Up!</h3>
<p class="center-align logo-text" style="margin: 0px;">This is not a job for a mere mortal! Sign up Superhero and join our league!</p>

<!--Added card from Materialize-->
<div class="row" style="margin-bottom: 0px;">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel #fffde7 yellow lighten-5">
            <!--Add username-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix red-text">stars</i>
                    <input id="username" name="username" minlength="5" maxlength="25" type="text" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,15}$" class="validate" required>
                        <!---including helper text-->
                        <span class="helper-text" data-error="Must contain between 5 - 15 characters, 1 number, 1 symbol" data-success="Woohoo! You got it!">Must contain between 5 - 15 characters, 1 number, 1 symbol</span>
                    <!--add required and min/max length-->
                    <label for="username">SuperHero Username *required</label>
                </div>
            </div>
            <!--Add favorite super hero-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-atom prefix red-text"></i>
                    <input id="fav_superhero" name="fav_superhero" minlength="5" maxlength="20" type="text" pattern="^[A-Za-z0-9_]{5,20}$"
                        class="validate">
                        <!---including helper text-->
                        <span class="helper-text" data-error="5-20 characters, only letters" data-success="Woohoo! You got it!">5-20 characters</span>
                    <!--add required and min/max length-->
                    <label for="fav_superhero">Favorite SuperHero? - optional</label>
                </div>
            </div>
            <!--Add Your Super Power-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-fire-alt prefix red-text"></i>
                    <input id="super_pow" name="super_pow" minlength="5" maxlength="30" type="text" class="validate">
                    <!---including helper text-->
                    <span class="helper-text" data-error="5-30 characters, only letters" data-success="Woohoo! You got it!">5-30
                        characters</span>
                    <!--add required and min/max length-->
                    <label for="fav_superhero">Your Super Powers? - optional</label>
                </div>
            </div>
            <!--Email field-->
            <div class="row">
                <!--Add pattern for email- code from ww3-->
                <div class="input-field col s12 ">
                    <i class="far fa-envelope-open prefix red-text"></i>
                    <input id="email" type="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        class="validate" required>
                        <!---including helper text-->
                        <span class="helper-text" data-error="Must contain '@' character, lowercase letters"
                            data-success="Woohoo! You got it!">Must contain '@' character, lowercase letters</span>
                    <label for="email">Email *required</label>
                </div>
            </div>
            <!--Password field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-fingerprint prefix red-text"></i>
                    <input id="password" type="password" name="password" minlength="5" maxlength="20" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,15}$" class="validate" required>
                        <!---including helper text-->
                        <span class="helper-text" data-error="Must contain between 5 - 15 characters, 1 number, 1 symbol" data-success="Woohoo! You got it!">Must contain between 5 - 15 characters, 1 number, 1 symbol</span>
                    <label for="password">Password *required</label>
                </div>
            </div>
            <!--image file-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-mask prefix red-text"></i>
                    <!---Regex from W3 schools-->
                    <input id="prof_image" name="prof_image" type="url" pattern="https?://.+" class="validate">
                    <span class="helper-text" data-error="Must incl. https// link" data-success="Woohoo! You got it!">Must incl.
                        https// link</span>
                    <label for="prof_image" style="font-size: 12px;">Add URL link for profile picture - optional</label>
                </div>
            </div>
            <!--Submit button-->
            <div class="row">
                <button type="submit" class="col s12 m6 offset-m3 btn-large red darken-1 logo-text text-shadow">Up Up and Away!</button>
            </div>
        </div>
    </form>
    <!--Link for existing User-->
    <div class="row">
        <div class="col s12">
            <p class="center-align">Are you a SuperHero already?<a href="{{ url_for('login') }}" class="light-blue-text text-darken-4"> Sign In!</a></p>
        </div>
    </div>
</div>
{% endblock %}