{% extends "base.html" %}

{% block content %}

<h3 class="center-align logo-text" style="margin-top: 0px; padding-top: 20px;">Sign In!</h3>

<!--Added card from Materialize-->
<!--Change the url_for to login -->
<div class="row" style="margin-bottom: 0px;">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" minlength="5" maxlength="20" type="text"
                        class="validate" required>
                    <label for="username">Your SuperHero Name (username)</label>
                </div>
            </div>
            <!--Password field-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" minlength="5" maxlength="20" type="text"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}$" class="validate" required>
                        <span class="helper-text" data-error="Must contain at least one number, lowercase letter, and between 5-20 characters"
                            data-success="Woohoo!">5-20 characters,
                            only lower class letters</span>
                    <label for="password">Password</label>
                </div>
            </div>
            <!--Removed email field-->
            <!--Submit button-->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">Let's Do this!</button>
            </div>
        </div>
    </form>
    <!--Link for new User-->
    <div class="row">
        <div class="col s12">
            <p class="center-align">Are you a new SuperHero?<a href="{{ url_for('register') }}"
                    class="light-blue-text text-darken-4"> Sign Up!</a></p>
        </div>
    </div>
</div>
{% endblock %}