{% extends "base.html" %}

{% block content %}

<h3 class="center-align logo-text">Sign Up!</h3>

<!--Added card from Materialize-->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" minlength="5" maxlength="15" type="text"
                        pattern="^[a-zA-Z0-9{5-15}]$" class="validate" required>
                    <!--add required and min/max length-->
                    <label for="username">SuperHero Name</label>
                </div>
            </div>
            <!--Password field-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" minlength="5" maxlength="15" type="text"
                        pattern="^[a-zA-Z0-9{5-15}]$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!--Email field-->
            <div class="row">
                <!--Add pattern for email- code from ww3-->
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" minlength="5" maxlength="15" type="text"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!--Submit button-->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">Up Up and Away!</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}